/*Register Desktop*/
.boxlogin button {
    text-decoration: none;
    color: var(--primary-blue);
    background-color: var(--white);
    padding: 1rem;
    width: fit-content;
    border-radius: 10px;
    justify-content: flex-end;
    font-family: "Nunito Sans", sans-serif;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--white);
    transition: 0.3s;
    margin-bottom: 20px;
  }
  
  .boxlogin button:hover {
    text-decoration: none;
    background-color: var(--primary-blue);
    border: 1px solid var(--white);
    color: var(--white);
    padding: 1rem;
    width: fit-content;
    border-radius: 10px;
    justify-content: flex-end;
    font-family: "Nunito Sans", sans-serif;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
  }
  
  .h1agree {
    color: var(--white);
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
   
  }

  .terms{
    color: var(--white);
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
  }


 