/* Login Desktop */

input[type=email], select {
    width: 380px;
    padding: 12px 20px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
   
  input[type=password], select {
    width: 380px;
    padding: 12px 20px;
    margin: 8px ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .boxlogin {
    background-color: #002653;
    border-radius: 0.5rem;
    margin: 9px;  
    text-align: center;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 50px; 
  }
  
  .h1login {
    color: var(--white);
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
   
  }
  
  .boxlogin a {
    border-radius: 4px;
    width: fit-content;
    padding: 0.5rem;
    height: 20px;
    
    background-color: var(--red);
    color: var(--white);
    font-family: "Nunito Sans", sans-serif;
  }

  .boxlogin button:hover {
    text-decoration: none;
    background-color: var(--primary-blue);
    border: 1px solid var(--white);
    color: var(--white);
    padding: 1rem;
    width: fit-content;
    border-radius: 10px;
    justify-content: flex-end;
    font-family: "Nunito Sans", sans-serif;
    margin-left: auto;
    margin-right: auto;
  }

  
@media only screen and (max-width: 768px) {
   
    .boxlogin {
      max-width: 80%;
    }
  
    input[type=email], select {
      width: 90%;
      padding: 12px 20px;
      margin: 8px ;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type=password], select {
      width: 90%;
      padding: 12px 20px;
      margin: 8px ;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }