
:root {
    --white: #fcfcfc;
    --red: #c80000;
    --primary-blue: #002653;
    --second-blue: #002855;
    font-family: "Nunito Sans", sans-serif;
  }
.footer{
    display: flex;
}

footer{
    background-color: var(--white);
    box-shadow: 0 -4px 6px -6px #222 !important;
    display: flex;
  }
.footer img{
    padding: 10px;
    padding-left: 100px;
    width: fit-content;
    max-width: 200px;
    margin: 0.75rem;
}
.listtext{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    width: fit-content;
    padding-left: 100px;
    color: var(--primary-blue);
}
.listtext a{
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {

.footer img{
    padding: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.listtext{
    display: none;
}

}