/* Variable colors : */

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
:root {
  --white: #fcfcfc;
  --red: #c80000;
  --primary-blue: #002653;
  --second-blue: #002855;
  --hover-blue: #0b4960;
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0px;
}

/* NavBar Desktop*/
nav {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px -6px #222 !important;
  margin-bottom: 1rem;
}

nav .logo_nav {
  width: 200px;
  margin: 0.75rem;
  padding: 1rem 2rem;
}
nav .logo_nav:hover {
  width: 200px;
  margin: 0.75rem;
  background-color: grey;
  transition: 0.3s;
  border-radius: 4px;
}

nav .link_nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav .link_nav {
  list-style: none;
  margin-right: 2rem;
}

nav .link_nav ul li a i {
  padding-right: 1rem;
  fill: currentColor;
}
nav .link_nav ul li a {
  transition: 0.3s;
  border: 1px solid var(--primary-blue);
  border-radius: 4px;
  padding: 1rem;
  text-decoration: none;
  background-color: var(--primary-blue);
  color: var(--white);
}

nav .link_nav ul li a:hover {
  transition: 0.3s;
  border: 1px solid var(--primary-blue);
  border-radius: 4px;
  padding: 1rem;
  text-decoration: none;
  background-color: var(--white);
  color: var(--primary-blue);
}

/* Login Desktop */

input[type="email"],
select {
  width: 380px;
  padding: 12px 20px;
  margin: 8px;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="text"],
select {
  width: 380px;
  padding: 12px 20px;
  margin: 8px;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="password"],
select {
  width: 380px;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.boxlogin {
  background-color: #002653;
  border-radius: 0.5rem;
  margin: 8px;
  text-align: center;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.h1login {
  color: var(--white);
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.boxlogin a {
  border-radius: 4px;
  width: fit-content;
  padding: 0.5rem;
  height: 20px;
  background-color: var(--red);
  color: var(--white);
  font-family: "Nunito Sans", sans-serif;
}

/*Register Desktop*/
.boxlogin button {
  text-decoration: none;
  color: var(--primary-blue);
  background-color: var(--white);
  padding: 1rem;
  width: fit-content;
  border-radius: 10px;
  justify-content: flex-end;
  font-family: "Nunito Sans", sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.boxlogin button:hover {
  text-decoration: none;
  background-color: var(--primary-blue);
  border: 1px solid var(--white);
  color: var(--white);
  padding: 1rem;
  width: fit-content;
  border-radius: 10px;
  justify-content: flex-end;
  font-family: "Nunito Sans", sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.h1agree {
  color: var(--white);
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
/* HeroBox */

.hero_box {
  background-image: url(../img/YLG0779-scaled-41acf841.jpeg);
  background-repeat: no-repeat;
  display: flex;
  height: 25%;
  justify-content: end;
  align-items: center;
  background-size: cover;
}

.hero_box_right {
  align-content: center;
  width: 50%;
  margin-left: 2rem;
}
.h1_hero {
  background-color: var(--white);
  padding: 2rem;
}
.h2_hero {
  background-color: var(--red);
  color: var(--white);
  padding: 0.85rem;
}

.next_event_container {
  background-color: var(--white);
  width: fit-content;
  padding: 0.75rem 4rem;
  border-radius: 4px;
  margin-bottom: 10%;
}

.next_event_time_container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.next_event_time {
  border: 1px solid var(--second-blue);
  width: 4rem;
  padding: 0rem 0.75rem;
  text-align: center;
}
.btn_hero_container {
  display: flex;
  width: 100%;
}

.btn_see_Event {
  background-color: var(--second-blue);
  color: var(--white);
  border: solid 5px var(--second-blue);
  padding: 2rem;
  text-decoration: none;
  transform: translateY(-50%);
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}
.btn_see_Event:hover {
  background-color: var(--white);
  color: var(--second-blue);
  border: solid 5px var(--second-blue);
  transition: 0.3s;
  padding: 2rem;
  text-decoration: none;
  transform: translateY(-50%);
  display: block;
  margin: 0 auto;
}

/* List events */

.events {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.card_container {
  background-color: #002855;
  border-radius: 10px;
  display: flex;
  color: var(--white);
  flex-direction: row;
  margin-bottom: 2rem;
  transition: 0.3s;
}
.card_container:hover{
  background-color: var(--hover-blue);
  transition: 0.3s;
}
.card_container img {
  width: 300px;
  padding: 2rem;
  border-radius: 30px;
}

.card_container a {
  display: flex;
  margin-left: auto;
  gap: 1rem;
  align-items: center;
}

.card_info {
  margin: 1rem;
}

.date_lieu_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2rem;
}

.card_info {
  display: flex;
  flex-direction: column;
  width: 900px;
}

.card_btn {
  display: flex;
  justify-content: flex-end;
}

.card_container a {
  text-decoration: none;
  color: var(--primary-blue);
  background-color: var(--white);
  padding: 1rem;
  width: fit-content;
  border-radius: 10px;
  border: 1px solid var(--white);
  transition: 0.3s;
}
.card_container a:hover {
  transition: 0.3s;
  background-color: var(--primary-blue);
  border: 1px solid var(--white);
  color: var(--white);
}
.card_info_btn {
  max-width: 800px;
}

.p_info_index {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* MENTION LEGALE */

.mention {
  max-width: 1200px;
  margin: 0 auto;
}
.mention h1 {
  text-align: center;
}

.mention_section {
  padding-top: 1rem;
}

.mention_section h2 {
  padding-bottom: 0.8rem;
}

@media only screen and (max-width: 1024px) {
  .next_event_container {
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  nav .link_nav ul li a span {
    display: none;
  }
  nav .link_nav ul li a i {
    padding-right: 0rem;
    fill: currentColor;
  }

  .boxlogin {
    max-width: 80%;
  }

  .next_event_container {
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  /* CARD EVENT */
  .card_container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .card_container img {
    margin: 0 auto;
    object-fit: cover;
  }
  .card_info {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .p_info_index {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card_info h2 {
    margin: 0 auto;
  }

  .date_lieu_card {
    margin: 0 1rem;
  }

  .card_btn {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  /* Login / Sign up */

  .boxlogin {
    max-width: 80%;
  }

  input[type="email"],
  select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="password"],
  select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}