@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
:root {
  --white: #fcfcfc;
  --red: #c80000;
  --primary-blue: #002653;
  --second-blue: #002855;
  font-family: "Nunito Sans", sans-serif;
}
.titre{
  text-align: center;
}
table{
  border-collapse: collapse;
}
th{
  border-bottom: solid;
  padding: 30px 0px;
  margin-bottom: 10px;
}
.user_th{
  text-align: left;
  padding-left: 10px;
  width: 75%;
}

.delete_th{
  text-align: center;
}

.user_body{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.user_row{
  border-bottom: solid 1px grey;
  margin-bottom: 50px;
}

td{
  padding: 10px 0px;
}
.user_name{
  padding-left: 10px;
  width: 75%;
}

.btn_delete_user {
    display: block;
    margin: auto;
    background-image: url("assets/img/user.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-color: var(--primary-blue);
    color: var(--white);
    border-radius: 4px;
}
.delete_icon{
  filter: invert(100%);
}

@media only screen and (max-width: 768px) {
  .btn_delete_user {
    width: 100%;
  }
}
