{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="quatrecentquatre">
        <div class="ohnon">
            <h1> 404 - Boooooh ! La page que vous recherchez semble introuvable .. </h1>
            <p class="linkerror"><a href="{{ path('app_home') }}">Page d'accueil</a></p>
        </div>
        <img src="https://electrosystem53.com/wp-content/uploads/2020/06/giphy.gif" >
        
    </div>
<br>
{% endblock %}