{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="quatrecentquatre">
        <div class="ohnon">
            <h1>Nooooon! Une erreur est survenue.. </h1>
            <p class="linkerror"><a href="{{ path('app_home') }}">Page d'accueil</a></p>
        </div>
        <img src="https://cdn.dribbble.com/users/2469324/screenshots/6538803/comp_3.gif" >
        
    </div>
<br>
{% endblock %}