{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="user_body">
        <h1 class="titre">Gestion des utilisateurs</h1>
        <table class="table">
            <thead>
                <tr>
                    <th class="user_th">Utilisateur</th>
                    <th class="delete_th">Suppression</th>
                    {% if is_granted('ROLE_ADMIN') == true %}
                    <th>Voir </th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="user_row">
                    <td class="user_name">{{ user.Firstname }} {{ user.Lastname }}</td>
                    {% if is_granted('ROLE_ADMIN') == true %}
                    <td>
                        {{ include('user/_delete_form.html.twig') }}
                    </td>
                    <td>
                        <button class="adminButton" onclick="window.location.href='{{ path('app_user_show', {'id': user.id}) }}';">Voir</button>
                    </td>
                {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Aucun utilisateur</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    

{% endblock %}